apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: three-tier
  labels:
    role: frontend
    env: demo
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels:
      role: frontend
  template:
    metadata:
      labels:
        role: frontend
    spec:
      imagePullSecrets:
        - name: ecr-registry-secret
      containers:
        - name: frontend
          image: 047719648597.dkr.ecr.ap-south-1.amazonaws.com/three-tire-app-frontend:latest
          imagePullPolicy: Always
          env:
            # set to relative path so browser uses same host + ALB
            - name: REACT_APP_BACKEND_URL
              value: "/api/tasks"
          ports:
            - containerPort: 3000

