apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: three-tier
  labels:
    role: frontend
spec:
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    role: frontend
  type: ClusterIP

