version: "3.9"

services:
  db:
    image: postgres:15
    container_name: superset_db
    environment:
      POSTGRES_DB: superset
      POSTGRES_USER: superset
      POSTGRES_PASSWORD: superset
    volumes:
      - superset_db_data:/var/lib/postgresql/data
    networks:
      superset_net:
        ipv4_address: 172.28.0.2

  superset:
    build:
      context: ./docker
      dockerfile: Dockerfile
    image: vaishnavi2301/superset-custom:latest
    container_name: superset_app
    environment:
      SUPERSET_ENV: production
      SUPERSET_SECRET_KEY: "super_secret_key"
      DATABASE_DIALECT: postgresql
      DATABASE_USER: superset
      DATABASE_PASSWORD: superset
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_DB: superset
    depends_on:
      - db
    volumes:
      - superset_home:/app/superset_home
    networks:
      superset_net:
        ipv4_address: 172.28.0.3

  nginx:
    image: nginx:latest
    container_name: superset_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - ./certs:/etc/nginx/certs:ro
    depends_on:
      - superset
    networks:
      superset_net:
        ipv4_address: 172.28.0.4

volumes:
  superset_home:
  superset_db_data:

networks:
  superset_net:
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16

