mysql:
  image: mysql:5.7
  rootPassword: admin123
  database: employees
  service:
    type: ClusterIP
    port: 3306

backend:
  image: amanpathak/three-tier-backend:latest
  replicas: 2
  service:
    type: ClusterIP
    port: 8080

frontend:
  image: amanpathak/three-tier-frontend:latest
  replicas: 2
  service:
    type: ClusterIP
    port: 3000

ingress:
  enabled: true
  className: alb
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/healthcheck-path: /