{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: mainlb
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "helm_chart_k8s.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
    - http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: api
                port:
                  number: {{ .Values.backend.service.port }}
          - path: /healthz
            pathType: Exact
            backend:
              service:
                name: api
                port:
                  number: {{ .Values.backend.service.port }}
          - path: /ready
            pathType: Exact
            backend:
              service:
                name: api
                port:
                  number: {{ .Values.backend.service.port }}
          - path: /started
            pathType: Exact
            backend:
              service:
                name: api
                port:
                  number: {{ .Values.backend.service.port }}
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: {{ .Values.frontend.service.port }}
{{- end }}
