apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: three-tier
  labels:
    role: api
spec:
  ports:
    - port: 3500
      targetPort: 3500
      protocol: TCP
      name: http
  selector:
    role: api
  type: ClusterIP

